.preview {
  height: 100%;
  overflow: auto;
  ol {
    white-space: nowrap;
  }
  pre {
    margin: 0;
    padding: 0 20px;
    code {
      background: #fff;
      white-space: pre-wrap;
      word-break: break-all;
      font-size: 13px;
      padding: 0;
    }
  }
  .imgBox {
    display: flex;
    justify-content: center;
    padding: 20px;
    img {
      max-width: 100%;
      box-shadow: 0 0 14px #ccc;
    }
  }
}
