@border-color: rgb(203, 205, 209);
@text-gray: rgb(96, 99, 103);
.reqDetail {
  flex: 1;
  overflow: auto;
  border-left: 1px solid @border-color;
  .icon {
    width: 14px;
    height: 14px;
    margin: 0 10px;
  }
  :global {
    .ant-tabs.ant-tabs-top {
      height: 100%;
      .ant-tabs-nav {
        margin-bottom: 0;
        &::before {
          border-bottom: 1px solid @border-color;
        }
        .ant-tabs-tab {
          padding: 5px 0;
        }
      }
      .ant-tabs-content-holder {
        overflow: auto;
      }
    }
    .ant-collapse {
      .ant-collapse-item {
        .ant-collapse-header {
          font-size: 13px;
          font-weight: bold;
          padding: 4px 6px;
          .ant-collapse-expand-icon {
            padding-right: 1px;
          }
        }
        .ant-collapse-content {
          padding-bottom: 8px;
          .ant-collapse-content-box {
            padding: 0;
          }
        }
      }
    }
  }
  .list {
    font-size: 13px;
    padding-left: 26px;
    padding-right: 8px;
    .listItem {
      word-break: break-all;
      b {
        white-space: nowrap;
        color: @text-gray;
        padding-right: 6px;
      }
    }
  }
}
