@bg-gray: rgb(241, 243, 244);
@text-gray: rgb(96, 99, 103);
@border-color: rgb(203, 205, 209);
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 12px;
  overflow: hidden;
  .topBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: @bg-gray;
    padding: 3px 10px;
    border-bottom: 1px solid @border-color;
    :global {
      .ant-checkbox-wrapper {
        margin-inline-start: 0;
        margin-inline-end: 8px;
        color: @text-gray;
        &:hover {
          color: #333;
        }
      }
    }
    .icon {
      width: 14px;
      height: 14px;
      color: #6e6e6e;
      margin-right: 10px;
      &:hover {
        color: #333;
      }
    }
    .splitLine {
      display: inline-block;
      width: 1px;
      height: 12px;
      background: #ccc;
      margin-right: 10px;
    }
  }
  .filter {
    padding: 5px 5px 3px 5px;
    background: @bg-gray;
    border-bottom: 1px solid @border-color;
    .keywordSer {
      width: 200px;
      margin-right: 12px;
      margin-bottom: 2px;
    }
    .types {
      background: @bg-gray;
      @bg-color: rgb(209, 211, 215);
      :global {
        .ant-segmented-group {
          .ant-segmented-thumb {
            background: @bg-color;
          }
          .ant-segmented-item {
            &.ant-segmented-item-selected {
              background: @bg-color;
            }
          }
        }
      }
    }
  }
  .table {
    display: flex;
    flex: 1;
    overflow: auto;
    :global {
      .ant-table-container {
        border-inline-start: 0 !important;
        .ant-table-header .ant-table-thead {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 1px;
            background: @border-color;
          }
          .ant-table-cell {
            padding: 4px 8px !important;
            background: @bg-gray;
          }
        }
        .ant-table-body .ant-table-tbody {
          cursor: default;
          .ant-table-row {
            .ant-table-cell {
              padding: 2px 8px !important;
            }
            &:nth-child(2n - 1) {
              background: rgb(245, 245, 245);
            }
          }
        }
      }
    }
    .currRow {
      :global {
        .ant-table-cell {
          color: #fff;
          background: #1677ff !important;
          border-inline-end: 0 !important;
        }
      }
    }
  }
}
